<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="projectService" class="org.mockito.Mockito" factory-method="mock">
        <constructor-arg value="com.github.empyrosx.proversys.service.ProjectService"/>
    </bean>

    <bean id="clientService" class="org.mockito.Mockito" factory-method="mock">
        <constructor-arg value="com.github.empyrosx.proversys.service.ClientService"/>
    </bean>

    <bean id="clientProjectsService" class="org.mockito.Mockito" factory-method="mock">
        <constructor-arg value="com.github.empyrosx.proversys.service.ClientProjectsService"/>
    </bean>

</beans>